# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (comentado, mas você pode ativar se quiser ignorar)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
generated_plugin_registrant.dart
.packages
flutter_*.png

# Android
android/.gradle/
android/local.properties
android/app/*.keystore
android/app/key.properties

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.dart_tool/
ios/Flutter/App.framework
ios/Flutter/engine/

# Web
web/.dart_tool/
web/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build folders
/android/app/debug
/android/app/profile
/android/app/release
